<nav class="header-nav">
    <a th:href="@{/}">Sports App</a>
    <!--        <a th:href="@{/home}">-->
    </a>

    <article>
        <ul class="header-nav-list">
            <li class="header-nav-list-item active" th:if="${not #authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">Login</a>
            </li>
            <li class="header-nav-list-item active" th:if="${not #authorization.expression('isAuthenticated()')}">
                <a th:href="@{/register}">Register</a>
            </li>

            <li th:if="${#authorization.expression('isAuthenticated()')}" class="header-nav-list-item active">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </article>
</nav>