<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>


<img src="http://res.cloudinary.com/dccqkyfpt/image/upload/v1740828648/hya7q1nzmoawerw68spu.jpg"
     alt="Uploaded Image" class="fullscreen-image">



  <form action="/athletics" method="post"  class="athletics-form">
      <select name="discipline">
          <option value="" disabled selected>-- Choose discipline--</option>
          <th:block th:each="discipline : ${disciplines}">
              <option th:value="${discipline.discipline}" th:text="${discipline.discipline}"></option>
          </th:block>
      </select>
      <button type="submit">View</button>
  </form>

  <div th:if="${selectedDiscipline}" class="athletics-info">
      <h2 th:text="'Discipline: ' + ${selectedDiscipline.discipline}"></h2>
      <p th:text="'World champion: ' + ${selectedDiscipline.worldRecordHolder}"></p>
      <p th:text="'World record: ' + ${selectedDiscipline.worldRecordTime}"></p>
  </div>

</body>
</html>