<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

  <h1>Test athletics</h1>

<!--<main role="main">-->
<!--    <div class="jumbotron">-->
<!--        <div class="container text-light ">-->
<!--            <h1 class="display-3 ">-->
<!--                <strong class="bg-blur rounded border-white pl-3 font-weight-bold">Add New Ship</strong></h1>-->
<!--        </div>-->
<!--        <div class="container bg-blur rounded p-5 mt-5 w-75">-->
<!--            <form th:action="@{/athletics}"-->
<!--                  th:method="POST"-->
<!--                  th:object="${athleticsDto}"-->

<!--                  class=" text-center text-light">-->

<!--                <div >-->
<!--                    <label for="category">Category</label>-->
<!--                    <div >56-->
<!--                        <select id="category" name="category" class="custom-select"-->
<!--                                aria-describedby="categoryHelpInline"-->
<!--                                th:field="*{category}"-->
<!--                                th:errorclass="is-invalid">-->
<!--                            <option value="-1" selected>Category</option>-->
<!--                            <option value="0">BATTLE</option>-->
<!--                            <option value="1">CARGO</option>-->
<!--                            <option value="2">PATROL</option>-->
<!--                        </select>-->
<!--                        <small id="categoryHelpInline" class="bg-danger text-light rounded invalid-feedback">-->
<!--                            You must select the category.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button type="submit" class="btn btn-danger w-50">Add the new Ship</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

</body>
</html>