<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SportsApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    <title>Dictionary App</title>-->
<!--    <link rel="stylesheet" href="/css/reset-css.css"/>-->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="/css/style.css"/>-->
<!--</head>-->
<body>
<header class="header">
    <article class="header-logo">
        <h1 class="header-logo-site-title">
            WIREWORK
        </h1>
        <h3 class="header-logo-site-source">
            BY TEMPLATED
        </h3>
    </article>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-list-item active">
                <a href="#" class="header-nav-list-item-link">
                   REGISTER
                </a>
            </li>
            <li class="header-nav-list-item">
                <a href="#" class="header-nav-list-item-link">
                    LOGIN
                </a>
            </li>

        </ul>

    </nav>

</header>
</body>
</html>