<!DOCTYPE html>
<html lang="en">
<head>
    <title>SportsApp</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<header class="header">
    <article class="header-logo">
        <h1 class="header-logo-site-title">
            SportsApp
        </h1>
        <h3 class="header-logo-site-source">
            BY TEMPLATED
        </h3>
        <ul class="header-nav-list-sports">
            <li class="header-nav-list-item">
                <a href="/athletics" class="header-nav-list-item-link">Athletics</a>
            </li>
            <li class="header-nav-list-item">
                <a href="/swimming" class="header-nav-list-item-link">Swimming</a>
            </li>
        </ul>
    </article>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-list-item active">
                <a href="/register" class="header-nav-list-item-link">
                   REGISTER
                </a>
            </li>
            <li class="header-nav-list-item">
                <a href="/login" class="header-nav-list-item-link">
                    LOGIN
                </a>
            </li>

        </ul>

    </nav>

</header>
</body>
</html>