<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>

<main>
    <form
            th:action="@{/login}"
            th:method="POST"
            th:object="${loginData}"
            class="login-form">
        <fieldset>

            <label class="labelForm" for="username">Username</label>
            <input class="inputForm" type="text"  id="username" name="username" th:field="*{username}">

            <label class="labelForm" for="password">Password</label>
            <input class="inputForm" type="password" id="password" name="password">

            <button type="submit" class="register-button">Login</button>
        </fieldset>
    </form>
</main>





</body>
</html>